section.promo
  .container.d-flex 
    .promo__left 
      h1.title Work at the speed of thought
      .txt Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.
      .buttons-group
        a(href="#").base-button get started
        a(href="#").button-video.d-flex 
          .triangle 
          span watch the video
    .promo__right 
      img(src="img/promo-amico.png", alt="social amico")