section.direction 
  .container.direction__table.d-grid
    article 
      h6.base-section-subtitle Effortless Validation for
      h2.base-title Management
      p.base-text The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person.
      h6.base-section-subtitle Accessory makers 
      p.base-text While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
      h6.base-section-subtitle Alterationists
      p.base-text If you are looking for a new way to promote your business that won’t cost you more money, 
    article
      img(src="img/management-amico.svg", alt="management")
    article
      h6.base-section-subtitle Easier decision making for
      h2.base-title Customer Support
      p.base-text The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person. 
      .tasks
        p.base-text.tasks__item Never worry about overpaying for your energy again. 
        p.base-text.tasks__item We will only switch you to energy companies that we trust and will treat you right
        p.base-text.tasks__item We track the markets daily and know where the savings are.
    article
      img(src="img/customer-support-amico.svg", alt="Customer Support")
    article
      h6.base-section-subtitle Optimisation for
      h2.base-title Collaborative
      p.base-text Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. 
      h6.base-section-subtitle Accessory makers
      p.base-text While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
      h6.base-section-subtitle Alterationists
      p.base-text If you are looking for a new way to promote your business that won’t cost you more money, 
    article
      img(src="img/collaborative-amico.svg", alt="Collaborative")