section.promo
  .containerпше .d-flex 
    .promo__left 
      .title Work at the speed of thought
      .txt Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.
      .buttons-group
        a(href="#").base-button get started
        a(href="#").base-button get started
    .promo__right 
      img(src="img/promo-amico.png", alt="social amico")