section.special-product 
  .container 
    h2.base-title 
      |Product  was Built Specifically for You
    ul.list-product.d-flex
      li.list-product__item 
        .icon
          img(src="img/special-icon-1.svg", alt="icon-1")
        h6.title First click tests
        p.base-text While most people enjoy casino gambling,
      li.list-product__item 
        .icon
          img(src="img/special-icon-2.svg", alt="icon-2")
        h6.title Design surveys
        p.base-text Sports betting, lottery and bingo playing for the fun
      li.list-product__item 
        .icon
          img(src="img/special-icon-3.svg", alt="icon-3")
        h6.title Preference tests
        p.base-text The Myspace page defines the individual.
      li.list-product__item 
        .icon
          img(src="img/special-icon-4.svg", alt="icon-4")
        h6.title Five second tests
        p.base-text Personal choices and the overall personality of the person. 
    a(href="#").base-button SIGN UP NOW
