section.boost
  .container 
    .wrapper.d-flex 
      .item 
        h2.base-title Join 100 Compannies who boost their business with Product
        a(href="#").base-button get this
      .item 
        img(src="img/screen-static.svg", alt="static")