* {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}
header {
  padding: 55px 0;
  background-color: steelblue;
}

.d-flex {
  display: flex;
}

.nav {
  justify-content: space-around;
}
.nav-link {
  display: block;
  width: 250px;

  padding: 20px 0;
  background-color: darkorange;
  text-align: center;
  color: #fff;
  font-size: 32px;
  border-radius: 10px;
}

.front {
  align-items: center;
  justify-content: space-around;
}
.front img {
  height: 300px;
  width: 360px;
}
.front i {
  margin: 0 10px;
  color: darkorange;
  font-size: 32px;
}

.internet {
  flex-wrap: wrap;
  justify-content: space-between;
}
.internet img {
  width: 360px;
  height: 300px;
  margin-top: 20px;
}

.net {
  margin-top: 40px;
  padding: 10px;
}
.net img {
  width: 350px;
  height: 300px;
  margin-right: 20px;
  margin-top: 5px;
}
.net .description {
  font-size: 24px;
  line-height: 1.5;
}
.source-net {
  flex-direction: column;
}
.source-net div:nth-child(even) img {
  margin-left: 20px;
  margin-right: 0;
  order: 1;
}
.task-3 {
  width: 400px;
  min-height: 400px;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
}

.task-3 .flex-item {
  width: 100px;
  height: 100px;
  background-color: darkorange;
  border: 1px solid #000;
  line-height: 100px;
  text-align: center;
  color: #fff;
  font-size: 24px;
}
