
.form {
  letter-spacing: 2px;
}
.formControl {
  padding: 10px;
}
.active input[type='text'] {
  border: 2px solid green;
  color: green;
}
.error input[type='text'] {
  border: 2px solid red;
  color: red;
}
