* {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}
header {
  padding: 55px 0;
  background-color: steelblue;
}

.d-flex {
  display: flex;
}

.nav {
  justify-content: space-around;
}
.nav-link {
  display: block;
  width: 250px;

  padding: 20px 0;
  background-color: darkorange;
  text-align: center;
  color: #fff;
  font-size: 32px;
  border-radius: 10px;
}

.nav a:nth-child(2) {
  margin-left: auto;
  margin-right: 10px;
}
/** task2*/ 
.task-2 {
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-bottom: 20px
}
.task-2 div {
  font-size: 32px;
  height: 200px;
  width: 600px;
  border: 1px solid #000;

}
.task-2 div:nth-child(odd){
  width: 300px;
}
.task-2 div:nth-child(1) {
  background-color: red;
}
.task-2 div:nth-child(2) {
  background-color: yellow;
}
.task-2 div:nth-child(3) {
  background-color: green;
}



.front {
  align-items: center;
  justify-content: space-around;
}
.front img {
  height: 300px;
  width: 360px;
}
.front i {
  margin: 0 10px;
  color: darkorange;
  font-size: 32px;
}

.internet {
  flex-wrap: wrap;
  justify-content: space-between;
}
.internet img {
  width: 360px;
  height: 300px;
  margin-top: 20px;
}

.net {
  margin-top: 40px;
  padding: 10px;
}
.net img {
  width: 350px;
  height: 300px;
  margin-right: 20px;
  margin-top: 5px;
}
.net .description {
  font-size: 24px;
  line-height: 1.5;
}
.source-net {
  flex-direction: column;
}
.source-net div:nth-child(even) img {
  margin-left: 20px;
  margin-right: 0;
  order: 1;
}
