html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.container {
  min-height: 400px;
}
.d-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.d-flex div {
  font-size: 3.2rem;
  height: 200px;
}
.d-flex div:nth-child(1) {
  background-color: red;
  width: 300px;
  border: 1px solid #000;
}
.d-flex div:nth-child(2) {
  background-color: yellow;
  width: 600px;
  border: 1px solid #000;
}
.d-flex div:nth-child(3) {
  background-color: green;
  width: 300px;
  border: 1px solid #000;
}
