$base-font-color: #22343d;
$base-color-logo: #173a56;
$base-darkcyan-color: #02897a;
$base-steelblue-color: #4d8dff;
$base-tomato-color: #f03e3d;
$base-darkpurple-color: #740a76;
$base-gold-color: #ff9900;
$base-title-fz: 3.2rem;
$base-text-fz: 1.6rem;