html {
  @include font('Poppins', 62.5%, normal, $base-font-color);
  //* 62.5%   = > 10px => 1rem
}
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-size: 1.6rem;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: $base-font-color;
}

//* base class

.container {
  max-width: 124rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
.d-grid {
  display: grid;
}
.d-flex {
  display: flex;
  align-items: center;
}
.logo {
  width: 4rem;
  height: 4rem;
  span {
    margin-left: 1.6rem;
  }
}

.list {
  &__item {
    @include font(inherit, 1.6rem, 400, $base-font-color);
    text-transform: capitalize;
    &.active-item {
      font-weight: 600;
    }
  }
}

.base-button {
  @include font(inherit, 1.6rem, 600, initial);
  display: inline-block;
  text-transform: capitalize;
  border: 0.1rem solid #bcd0e5;
  padding: 1rem 3rem;
  background-color: $base-darkcyan-color;
  color: #fff;
  border-radius: 0.4rem;
  transition: 0.3s;
  &:hover {
    background-color: #fff;
    color: $base-color-logo;
  }
}

h2.base-title {
  text-align: center;
  font-size: $base-title-fz;
  margin: 0;
  padding: 0;
}
h6.base-section-subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 0;
  padding: 0;
}
p.base-text {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
