header {
  width: 100%;
}
.header {
  height: 8rem;
}

.navigation {
  align-items: center;
  .logo {
    margin-right: auto;
  }
  .list {
    &__item {
      margin-right: 2.5rem;

      transition: 0.3s;
      &:hover {
        text-decoration: underline;
      }
    }
    &__link {
      display: block;
    }
  }
  .buttons-group {
    align-items: center;
    // margin-top: -1rem;
    & > a {
      margin-right: 2rem;
      &:last-child {
        background-color: $base-darkcyan-color;
      }
    }
  }
}
