* {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.grid-container {
  display: grid;
  background-color: purple;
}
.grid-container .grid-item {
  outline: 1px solid yellow;
  background-color: steelblue;
}

/** Homework*/
/* .g-auto-flow{
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  grid-auto-flow: column;
} */

/** task #1*/
/* .auto-fit{
  grid-template: repeat(5, 1fr) /  repeat(auto-fit, 50px);
} */

/** task #2*/
/* .auto-fill{
  grid-template: repeat(5, 1fr) /  repeat(auto-fill, minmax( 50px, 1fr));
} */

/** task #3*/
.auto-fit {
  grid-template: repeat(5, 1fr) / repeat(auto-fit, minmax(200px, 1fr));
}
