.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr 2fr 10%;
  grid-template-rows: 150px 200px 250px;
}
.grid-item {
  padding: 10px;
  outline: 1px orange solid;
}
.grid-inline-container {
  display: inline-grid;
  grid-template-columns: 300px 150px 1fr 100px;
  grid-template-rows: 100px 200px 1fr;
}
.grid-inline-item {
  padding: 10px;
  outline: 1px red solid;
}
